<div class="row d-flex justify-content-center">
	<div class="col-md-8 col-lg-6">
		<div class="card shadow-0 border" style="background-color: #f0f2f5;">
		  <div class="card-body p-4">
		    <% if comment.is_current_user_author?(current_user) %>
		  	<div class="form-outline mb-4">
			    <%= form_with model: [post, comment] do |form| %>
						  <p>
						    <%= form.label :author, value: current_user.username  %><br>
						    <%= form.hidden_field :author, value: current_user.username %>
						  </p>
						  <p>
						    <%= form.text_area :body, class: "form-control", placeholder: "new comment" %>
						  </p>
						  <p>
						    <%= form.submit translate("update"), class: "btn btn-primary" %>
						  </p>
					<% end %>
			  </div>
				<% end %>
			</div>
		</div>
	</div>
</div>
