<% comments.each do |comment| %>
  <div class="card mb-4">
    <div class="card-body">
      <p class="form-control">
      	<%= comment.body%>
      </p>

      <div class="d-flex justify-content-between">
        <div class="d-flex flex-row align-items-center">
          <p class="small mb-0 ms-2">
          	
           <strong> Author: <%= comment.user.username  %></strong>
           <span>&nbsp</span>

           <% if current_user == comment.user %>
             <div class="d-flex" id="comment">
             	
						  <%= link_to translate("edit"), nil, class: "btn btn-success", id: "edit_comment", remote: true, data: {
                  controller: "comments",
                  action: "comments#taggleForm",
                  comments_form_param: "edit-form-#{ comment.id }",
                  # comments_body_param: "comment-body-#{ comment.id }"
              } %>
						  <span>&nbsp</span>
						  <%= button_to translate("delete"), post_comment_path(@post, comment), method: :delete, class: "btn btn-danger", id: "delete_comment" %>
						</div>

            
					<% end %>
          </p>
        </div>
       
      </div>
    </div>
  </div>

<div class="d-none" id=<%="edit-form-#{comment.id}"%>>
  <%= render 'comments/edit_form', post: post, comment: comment  %>
</div>

<% end %>

<%= render 'comments/pagination' %>



