<% comments.each do |comment| %>
  <div class="card mb-4">
    <div class="card-body">
      <p class="form-control">
      	<%= comment.body%>
      </p>

      <div class="d-flex justify-content-between">
        <div class="d-flex flex-row align-items-center">
          <p class="small mb-0 ms-2">
          	
           <strong> <div id="avatar">  <%=
           image_tag comment.author_avatar, id: "avatar" %>  </div> 
           <%= comment.author  %></strong> <span>&nbsp</span>

             <div class="d-flex" id="comment">
             	<%= comment.edit_comment(current_user) %>
						  <span>&nbsp</span>
						  <%= comment.delete_comment(current_user) %>
						</div>

          </p>
        </div>
       
      </div>
    </div>
  </div>

<div class="d-none" id=<%="edit-form-#{comment.id}"%>>
  <%= render 'comments/edit_form', post: post, comment: comment  %>
</div>

<% end %>

<%= render 'comments/pagination' %>



