<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
  <div class="form-outline form-white mb-4">
    <%= f.email_field :email, class: "form-control form-control-lg", autofocus: true, autocomplete: "email", placeholder: translate("email") %>
  </div>

  <div class="form-outline form-white mb-4">
    <%= f.password_field :password, class: "form-control form-control-lg", autocomplete: "current-password", placeholder: translate("password") %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="form-outline form-white mb-4">
      <%= f.check_box :remember_me, value: translate("remember_me")%>
      <%= f.label t(:remember_me) %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit translate("login"), class: "btn btn-outline-light btn-lg px-5" %>
  </div>
<% end %>

