
  <div>
    <%= search_form_for @q,
          class: 'form',
          url: posts_path,
          html: { autocomplete: 'off', autocapitalize: 'none' } do |f| %>

        <%= f.search_field :title_cont, class: "form-control", placeholder: translate('filter_by_title')  %><br>

        <%= f.search_field :body_cont, class: "form-control", placeholder: translate("filter_by_body") %>
        <br>

        <%= f.label :created_at_gt, translate('created_time_greaten_than') %>
        <%= f.date_field :created_at_gt, class: "form-control" %><br>

        <%= f.label :created_at_lt, translate('created_time_less_than') %>
        <%= f.date_field :created_at_lt, class: "form-control" %><br>

        <%= f.label :updated_at_gt, translate('update_time_greaten_than') %>
        <%= f.date_field :updated_at_gt, class: "form-control" %><br>

        <%= f.label :updated_at_lt, translate('update_time_less_than') %>
        <%= f.date_field :updated_at_lt, class: "form-control" %><br>

        <div class="filters-header-content" align="center">
          <%= link_to request.path, class: 'form-link' do %>
            <i class="far fa-undo icon-l" ></i><%= translate('clear_all') %>
          <% end %>
          <br>
          <br>
          <%= f.submit translate("filter"), class: 'btn btn-primary' %>
        </div>
    <% end %>
  </div>
<br>