<!DOCTYPE html>
<html>
  <head>
    <title>BlogByDevise</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script async
    src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials[:google_map_api] %>&callback=initMap">
</script>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

    <%= render partial: 'shared/bootstrap' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>


  <body>
    <div id="page">
      <header>
        <%= render partial: 'shared/navbar' %>
        <%= render partial: 'shared/alerts' %>
      </header>
      <div class="container">
        <%= yield %>
      </div>
    </div>
    
  </body>
</html>